/* 365好老师会议室无语版 */
@charset "UTF-8";

*, *:before, *:after{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body,html,.container{ margin:0; padding:0; font-size: 62.5%; position: relative; width: 100%; height: 100%; }
.f:before,.f:after{ content:'\20'; display: table; }
.f:after{ clear:both; }
::selection {color: #202020; background-color: #F3F0F2; }
body::-webkit-scrollbar {width: 7px; -webkit-appearance: none; }
body::-webkit-scrollbar-thumb {border-radius: 4px; background-color: #555; background-color: #555; box-shadow: 0 0 3px 3px #eee; }
body{ font:1em/1.85623em "Hiragino Sans GB","Century Gothic",system, Arial, Verdana, Tahoma,\5FAE\8F6F\96C5\9ED1; background-color: #333; overflow-y:scroll; color: #fff; }
article,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block; margin:0; padding:0; }
a{ color: #ccc; text-decoration: none; }
.perspective{ perspective:600px; -webkit-perspective:600px; }
.mask-zl{ position: fixed; width: 100%; opacity: 1; height: 100%; top:0; left: 0; z-index:1000; background-color: rgba(0,0,0,.86); transition:all .5s; -webkit-transition:all .5s; animation:ZlCt .5s forwards ease-in; transform-origin:50% 100%; transform-style:preserve-3d; }
.layoutZL{ position: relative; overflow-x:hidden; width: 100%; min-height: 100%; }
.side, .page{ transition:transform .5s ease-in-out; -webkit-transition:transform .5s ease-in-out; }
.side{ position: fixed; top:0; z-index: 50; width:25%; height: 100%; text-align: center; -webkit-backface-visibility:hidden; -webkit-user-select: none; }
.sD{ left:0; color: #fff; outline:1px solid #0089FA; background:#0089FA; }
.sD:nth-child(2){ left: 25%; outline:1px solid #FF002B; background:#FF002B; }
.sD:nth-child(3){ left: 50%; outline:1px solid #FFA900; background:#FFA900; }
.sD:nth-child(4){ left: 75%; outline:1px solid #00A753; background:#00A753; }
    .intro-content{ position: absolute; left:50%; top:50%; padding: 0 1em; width: 87.4452%;  transition:transform .6s, top .6s; -webkit-transition:transform .6s, top .6s; transform:translateY(-50%) translateX(-50%); }
    .profile{ margin:0 auto; width: 100%; }
        .profile img{ max-width: 100%; opacity: .6; margin-bottom: 2em; }
        .intro-content figcaption, .back{ transition:opacity .3s; -webkit-transition:opacity .3s; }
  .ZL-overlay{ position: absolute; left: 0; top:0; z-index: 70; visibility: hidden; width: 100%; height: 100%; opacity: 0; transition:opacity .6s, visibility .1s .6s; -webkit-transition:opacity .6s, visibility .1s .6s; }
        .wHa{ font-size:3em; font-weight: 300; white-space: nowrap; display: block; margin:20px 0 10px 0; padding-top:20px; position: relative; transition: transform .2s; -webkit-transition: transform .2s; }
        .wHa:before{ content:'\20'; position: absolute; background:#fff; width:160px; height: 6px; top:0; left: 50%; margin:-10px 0  0 -80px; transition:margin-top .2s; -webkit-transition:margin-top .2s; } 
        .intro-content .T{ display: inline-block; font-size: 1em; letter-spacing: 1px; text-indent:1px; opacity: 0; transition:transform .3s, opacity .2s; -webkit-transition:transform .3s, opacity .2s; transition:transform .3s, opacity .2s; transform:translateY(10px); -webkit-transform:translateY(10px);  }
        .reserveStatus{ text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1); font-size: 6.6em;  margin:0; height: 134px; padding: 1em 0; line-height: 1; }
        .reserveStatus.booked{ line-height: 1.3; font-size: 4.62em;  text-align: left; }
.S-zl .intro-content{ cursor: pointer; }
.S-zl .sD:hover{ background:#fff; }
.S-zl .sD:hover .reserveStatus{ color: #303030; }
.S-zl .sD:hover .profile img{ opacity: 1;  }
.S-zl .sD:hover figcaption{ color: #0089FA; }
.S-zl .sD:hover .wHa{ transform:translateY(-30px); -webkit-transform:translateY(-30px);  }
.S-zl .sD:hover .wHa:before{ background: #0089FA; margin-top: 80px; }
.S-zl .sD:hover .intro-content .T{ opacity: 1; }
.S-zl .sD:nth-child(2):hover figcaption{ color: #FF002B; }
.S-zl .sD:nth-child(2):hover .wHa:before{ background: #FF002B; margin-top: 80px; }
.S-zl .sD:nth-child(3):hover figcaption{ color: #FFA900; }
.S-zl .sD:nth-child(3):hover .wHa:before{ background: #FFA900; margin-top: 80px; }
.S-zl .sD:nth-child(4):hover figcaption{ color: #00A753; }
.S-zl .sD:nth-child(4):hover .wHa:before{ background: #00A753; margin-top: 80px; }
      .back{ position: fixed; top: 2.6em; z-index: 999; visibility: hidden; display: block; width: 100px; height: 44px; text-align: center; font-size: 22px; line-height: 44px; opacity: 0; pointer-events:none; border-radius: 3px 22px / 12px 33px; }
            .bR{ right:12.5%; color: #fff; transform:translateX(50%); -webkit-transform:translateX(50%); }
            .bL{ left:12.5%; color: #fff; transform:translateX(-50%); -webkit-transform:translateX(-50%); }
      .open-left .side-left.Itsm{ transform:translateX(100%); }
      .open-right .side-right.Itsm{ transform:translateX(-300%); }
.reset-layout .page, .layoutZL.open-right .page-left, .layoutZL.open-left .page-right, .layoutZL.close-right .page-left, .layoutZL.close-left .page-right{ position: absolute; height: 100%; overflow: hidden; }
.page{ position: relative; top:0; overflow: auto; min-height: 100%; width: 75%; font-size: 1.4em; -webkit-backface-visibility:hidden; }
.page-right{ left: 25%; outline:5px solid #ecf0f1; background:#ecf0f1; color: #97a8b2; transform:translateX(100%); -webkit-transform:translateX(100%); }
.page-left{ left: 0; outline: 5px solid #34495e; background: #34495e; color: #fff; text-align: right; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
    .innerZl{ padding:2em; }
.open-left .intro-content .T,.open-right .intro-content .T{ opacity: 1; }
.layoutZL.open-left{ background-color: #34495e; }
.open-left .side-left{ z-index:120; transform:translateX(300%); }
.open-right .side-right{ z-index:120; transform:translateX(-100%); }
.open-left .side-right{ -webkit-transform: translateX(60%) scale(0); transform: translateX(60%) scale(0); }
.open-right .side-left{ -webkit-transform: translateX(-60%) scale(0); transform: translateX(-60%) scale(0);  }
.open-left .side,.open-right .side{ cursor: default; }
.open-left .side-left .intro-content{ transform:translateY(-50%) translateX(-50%) scale(0.95); }
.layoutZL.open-right .page-right, .layoutZL.open-left .page-left{ height: auto; overflow: auto; position: relative; }
.open-left .page-left,.open-right .page-right{ -webkit-transform: translateX(0%); transform: translateX(0%); }
.open-right .bL, .open-left .bR{ opacity: 1; visibility: visible; pointer-events:auto; transition-delay:.4s; background-color:#34495E; cursor: pointer; }
@-webkit-keyframes ZlCt{ 50% { -webkit-transform: rotateX(10deg); -webkit-animation-timing-function: ease-out;  }}
@-moz-keyframes ZlCt{50% {-moz-transform: rotateX(10deg); -moz-animation-timing-function: ease-out; } }
@keyframes ZlCt{50% {transform: rotateX(10deg); animation-timing-function: ease-out; } }
.iNfo{ position: fixed; top:50%; left: 50%; width: 50%; max-width: 654px; min-width: 320px; height: auto; z-index:1500; visibility: visible; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); transition:transform .3s ease-out,opacity .5s; transition-delay:.3s; }
    .md-content-wuyu{ color: #fff; background-color: #e74c3c; position: relative; border-radius: 3px; margin:0 auto; animation:topZl .5s forwards .1s 1; }
    .md-content-wuyu h3{ margin:0; padding: .6em; text-align: center; font-size: 2.4em; opacity: .85; border-radius: 3px 3px 0 0; background-color:rgba(0,0,0,.14); line-height: 1; }
    .md-content-wuyu h3 > span{ margin:0 8px; color:#000; text-shadow:2px 8px 6px rgba(0, 0, 0, 0.31), 0px -5px 35px rgba(255, 255, 255, 0.63); }
    .md-content-wuyu > div{ padding: 15px 40px 30px; margin:0; font-size: 1.45em; }
      .md-content-wuyu > div p{ margin:0; padding:10px 0; }
      .md-content-wuyu > div ul{ margin:0; padding: 0 0 30px 20px; }
      .md-content-wuyu > div ul li{ padding:5px 0; }
      .md-content-wuyu > div button{ display: block; margin:0 auto; font-size: .8em; border:none; padding: .6em 1.2em; color: #000; letter-spacing: 1px; text-indent: 1px; cursor: pointer; border-radius: 2px; }
@keyframes topZl{ 0%{ opacity: 0; transform:translateY(-200%); } 100%{ opacity: 1; transform:translateY(0%); } }
@-webkit-keyframes topZl{ 0%{ opacity: 0; -webkit-transform:translateY(-200%); } 100%{ opacity: 1; -webkit-transform:translateY(0%); } }
.mask-zl.gomask{ opacity: 0; z-index:1; }
.iNfo.goscale{ transform:scale(.1) translateX(0%) translateY(0%); opacity: 0;  transform-origin:0 0; transform-style:preserve-3d; }